<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyy.mapper.ScoreMapper">
    <select id="getAllStudentsScores">
        select student.name, score.*
        from student
        join score on score.student_id = student.student_id
        where student.teacher_id = #{id}
        and score.title = #{title}
        order by score.create_time
        <if test="fetchAll==false">
            limit #{offset}, #{pageSize};
        </if>

    </select>
    <select id="getMyAllScores">
        select *
        from score
        where student_id = (select student_id from student where id = #{id})
        and title like concat('%', #{title}, '%')
        limit #{offset}, #{pageSize};
    </select>
    <select id="getStudentScoresLimit5">
        select
        <trim prefix="" suffixOverrides=",">
            <if test="subjects != null and subjects.size() > 0">
                <foreach collection="subjects" item="subject" separator=",">
                    ${subject}
                </foreach>
            </if>
        </trim>
        from score
        where student_id = #{id}
        order by create_time desc
        limit 5 ;
    </select>
    <select id="getAllScores">
        select distinct title
        from score
        where title like concat('%', #{title}, '%')
        order by title
        limit #{offset}, #{pageSize};
    </select>
</mapper>
